---
title: "Change"
date: 2026-05-26T12:02:00Z
description: "A short reflection on change as the one constant in life."
titleHtml: "&#128260; Change"
displayDate: "May 26th 2026"
postTags: ["#mindset","#philosophy","#change"]
---
<p>The only thing that doesn't change is change itself.</p>
