---
layout: base.njk
title: "~*~ Hung's Journal ~*~"
navActive: index.html
showVisitorCounter: true
permalink: index.html
---

<div class="warp-zone">
  <div class="warp-zone-scanline"></div>
  <div class="warp-zone-header">
    &#9670; WARP ZONE DETECTED &#9670;
  </div>
  <div class="warp-zone-body">
    <a
      href="https://hungngdoan.github.io/goc-cua-hung/"
      class="warp-zone-enter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="warp-zone-bolt">&#9889;</span> Vietnamese portal is open! <span class="warp-zone-bolt">&#9889;</span>
    </a>
  </div>
</div>

{%- for post in collections.post | reverse %}
{{ post.templateContent | safe }}
{%- endfor %}

<section class="guestbook-area">
  <h3>&#128221; Guestbook</h3>
  <div class="gb-entry">
    <span class="gb-name">xX_CoderGirl_Xx</span>
    <span class="gb-date">02/22/2026</span>
    <p>
      cool blog!! love the pixel art banner~ keep posting!
      (&#9685;&#8255;&#9685;&#10047;)
    </p>
  </div>
  <div class="gb-entry">
    <span class="gb-name">dark_samurai99</span>
    <span class="gb-date">02/18/2026</span>
    <p>nice site bro. good taste &#128076;</p>
  </div>
  <p class="gb-view-all">
    <a href="guestbook.html"
      >&gt;&gt; view all &amp; sign the guestbook</a
    >
  </p>
</section>
