<div class="marquee-bar">
  <div class="marquee-content">
    ★ ★ ★ Welcome to my little corner of the Internet! Feel free to look
    around 🌸 ♡ Sign the guestbook before you leave! ★ ★ ★ Updated on
    <time datetime="{{ build.isoDate }}">{{ build.displayDate }}</time> ★ ★ ★
    best viewed at 1024x768 ★ ★ ★
  </div>
</div>
