<div class="marquee-bar">
  <div class="marquee-content">
    ★ ★ ★ Welcome to my little corner of the Internet! Feel free to look
    around 🌸 ♡ Sign the guestbook before you leave! ★ ★ ★ Updated on
    <time data-last-updated datetime="2026-05-03">05.03.2026</time> ★ ★ ★
    best viewed at 1024x768 ★ ★ ★
  </div>
</div>
